button,
input[type="button"],
input[type="reset"],
input[type="submit"], 
input[type="email"],
input[type="text"],
textarea,
::placeholder {
	
	color: white;
	//text-transform: uppercase;
	font-weight: 600;
	font-size: 1.2rem;

	&:focus {
		border-color: $shadow-color;
		box-shadow: 0 0 0 1px $shadow-color;
	}
}

textarea {
	&:focus {
		border-color: $shadow-color !important;
		box-shadow: 0 0 0 1px $shadow-color !important;
	}
}

button {
	text-transform: uppercase;
}

button.menu-toggler {
	display: none !important;
	background: none;
	border: none;
	color: black;

	i{
		font-size: 3.5rem;
	}

	@media (max-width: $sm) {
		display: inline-flex !important;

	}
}

//Input type text
input[type="submit"] {
	background: $crvena;
	border:1px solid white;
}

//Close search form button
.close-search{
	transform: scaleX(0);
	width: auto;
	position: absolute;
	top: 3%;
	right: 0;
	font-size: 2.8rem;
	z-index: 59;
	transition: scale 0.5s ease-in-out;

	@media(max-width:$md){
		right: unset;
		left: 0;

	}
}

//Close icon when search form is active
.search-closed {
	transform: scaleX(1);
	cursor: pointer;
}

.bi-x-circle-fill {
	color: white;

}

