//Kontakt page


.contact-wrapper {
    padding : 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(max-width: $xs){
        padding:0;
    }
    
    .mail-send {
        width:60px;
        
    }

    .entry-headline {
        text-align: center;

        h1{
            margin-top: 65px;
            margin-bottom: 35px;
            font-size: 3.4rem;
        }

        h6 {
            margin-bottom: 65px;
            color: #6A6A6A;
            font-weight: 600;
            font-size: 1.6rem;
        }

        h2, h3, h4, h5 {
            margin-bottom: 65px;
            font-weight: 500;
        }
    }

    .contact-form {
        max-width:600px;
        width: 100%;
        text-align: center;
        margin-bottom: 130px;

        @media(max-width: $xs){
            margin-bottom: 50px;
        }

        .form-control{
            padding: 10px 15px;
            margin-bottom: 25px;
            border-radius: 3px;
        }

        .cta{
            padding: 8px 40px;
            background-color: $crvena;
            border: none;
            border-radius: 3px;
            color: white;
            transition: background 0.2s ease-in-out;

            &:hover {
                background: $footer-bg;
                
            }
        }
    }
}


.contact-details {
    padding:0 15px;
    margin-bottom: 85px;

    @media(max-width: $sm){
        padding:0;
        margin-bottom: 0;
    }

    .contact-info {

        & :first-child:before {
            font-family: "Font Awesome 5 Free";
            content:"\f3c5";
            color: $crvena;                
        }

        .phone :before {
            font-family: "Font Awesome 5 Free";
            content:"\f3cd";
            color: $crvena;
        
        }

        .email :before {
            font-family: "Font Awesome 5 Free";
            content:"\f0e0";
            color: $crvena;
        
        }

        h5 {
            margin-bottom: 55px;
            margin-left: 10px;
        }
    }

    .map {
        iframe{
            @media(max-width:$md) {
                height: 300px;
                width: 100%;
            }
        }
       
    }
}