//General
$crvena: hsla(358, 85%, 52%, 1);
$crvena-opacity: hsla(358, 85%, 52%, 0.9);
$zelena: hsla(104, 54%, 28%, 1);
$zelena-opacity: hsla(104, 54%, 28%, 0.9);
$default: rgb(0, 0, 0);
$footer-bg: #252525;
$footer-links: hsla(0, 0%, 58%, 1);


//Elements
$divider: hsla(0, 0, 82%, 1);
$shadow-color: hsla(0, 0%, 0%, 0.25);

